<section id="top-ten" class="grid">
  <header>
    <h2>Top 10 Images</h2>
  </header>
  <img style="width: {{ image.images.fixed_width.width }}px; height: {{ image.images.fixed_width.height }}px;" class="grid-item" ng-repeat="image in topImages | limitTo: 10" src="{{ image.images.fixed_width.url }}" afterRepeat/>
</section>
