<section id="search" ng-controller="SearchController">
  <header>
    <h2>Search Parameters: {{ search }}</h2>
  </header>
  <img style="width: {{ image.images.fixed_width.width }}px; height: {{ image.images.fixed_width.height }}px;" ng-repeat="image in images" src="{{ image.images.fixed_width.url }}" />
</section>
