doctype
html
  head
    title!= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    
    //CSS
    link(rel="stylesheet", href="/css/main.css")
    
    //Fonts
    link(href="https://fonts.googleapis.com/css?family=Pacifico|Roboto", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    
    //Angular Main Files
    script(src="/js/angular/angular.min.js", type="text/javascript")  
    script(src="/js/angular/angular-route.min.js", type="text/javascript")
    
    //Environment variables
    script(src="/js/app/env.js", type="text/javascript")
    
    //Main App Module 
    script(src="/js/app/app.module.js", type="text/javascript")
    
    //Routes
    script(src="/js/app/app.route.js", type="text/javascript")
    
    //Controllers 
    script(src="/js/app/controllers/IndexController.js", type="text/javascript")
    script(src="/js/app/controllers/SearchController.js", type="text/javascript")
    script(src="/js/app/controllers/HeaderController.js", type="text/javascript")
  
    //Services
    script(src="/js/app/services/GiphyService.js", type="text/javascript")
    script(src="/js/app/services/SearchService.js", type="text/javascript")

    //Directives
    script(src="/js/app/directives/AfterRepeat.js", type="text/javascript")
    
    //vendor async
    script(src="/js/libs/masonry.pkgd.min.js")

  body(ng-app="app")
    
    include layout/header
    section#main-content(ng-view)

  include layout/footer    
