footer#main-footer
  span Search Giphy 2017
  script.
    var elem;
    var msnry;
    
    var loadMasonry = function (){
      elem  = document.querySelector('.grid')    
      msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
      });
    }
    
