header#main-header(ng-controller="HeaderController")
  a(ng-click="go('/')")
    h1 Search Giphy
  input#search-input(type="text", ng-model="search", ng-keyup="$event.keyCode == 13 ? doSearch() : null")
  button(ng-click="doSearch()")
    i.fa.fa-search
