#main-header{
  border-bottom: 1px dotted #ccc;
  font-family: $main-font;
  padding: 0 15px 10px;
  position: relative;
  a{
    cursor: pointer;
    h1{
      font-family: 'Pacifico';
      font-size: 25px;
      padding: 10px 10px 15px;
      text-align: center;
    }
  }
  input{
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
    box-sizing: border-box;
    font-family: $main-font;
    height: 30px;
    width: 100%;
    padding: 0 25px 0 15px;
    margin: 0;
  }
  button{
    background-color: transparent;
    border: none;
    bottom: 16px;
    cursor: pointer;
    position: absolute;
    right: 15px;
  }
}
